<div class="bg-[#f8f8f8] px-4">
    <app-page-header [title]="pageTitle" [isAction]="isHeaderAction" />

    <!-- Add product form start here -->
    <div class="h-[450px] overflow-y-auto">
        <form [formGroup]="addProductForm">
            <div class="grid grid-cols-1 gap-y-4">
                <!-- Product Information panel start here -->
                <div class="border shadow-sm">
                    <div class="bg-[#4f966e] px-4 py-2 border-b">
                        <h2 class="!mb-0 text-white !text-lg">Product Information</h2>
                    </div>
                    <div class="bg-white px-4 pt-4 pb-2">
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
                            <!-- product title form field start here -->
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Product Title</mat-label>
                                <input matInput formControlName="title" placeholder="Enter Product Title">
                            </mat-form-field>
                            <!-- product title form field end here -->

                            <!-- category form field start here -->
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Category</mat-label>
                                <mat-select formControlName="category">
                                    <ng-container *ngFor="let category of categoryList">
                                        <mat-option [value]="category">{{category | titlecase }}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            <!-- category form field end here -->

                            <!-- brand form field start here -->
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Brand</mat-label>
                                <mat-select formControlName="brand">
                                    <ng-container *ngFor="let brand of brandList">
                                        <mat-option [value]="brand">{{brand}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            <!-- brand form field end here -->

                            <!-- Stock Status form field start here -->
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Stock Status</mat-label>
                                <mat-select formControlName="availabilityStatus">
                                    <ng-container *ngFor="let stockStatus of stockStatusList">
                                        <mat-option [value]="stockStatus">{{stockStatus}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            <!-- Stock Status form field end here -->

                            <!-- Warranty Information form field start here -->
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Warranty Information</mat-label>
                                <mat-select formControlName="warrantyInformation">
                                    <ng-container *ngFor="let warrantyInformation of warrantyInformationList">
                                        <mat-option [value]="warrantyInformation">{{warrantyInformation}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            <!-- Warranty Information form field end here -->

                            <!-- Shipping Information form field start here -->
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Shipping Information</mat-label>
                                <mat-select formControlName="shippingInformation">
                                    <ng-container *ngFor="let shippingInformation of shippingInformationList">
                                        <mat-option [value]="shippingInformation">{{shippingInformation}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            <!-- Shipping Information form field end here -->

                            <!-- Return Policy form field start here -->
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Return Policy</mat-label>
                                <mat-select formControlName="returnPolicy">
                                    <ng-container *ngFor="let returnPolicy of returnPolicyList">
                                        <mat-option [value]="returnPolicy">{{returnPolicy}}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                            <!-- Return Policy form field end here -->

                            <!-- Stock form field start here -->
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Stock</mat-label>
                                <input matInput formControlName="stock" placeholder="Enter Product Stock">
                            </mat-form-field>
                            <!-- Stock form field end here -->

                            <!-- Minimum Order Quantity form field start here -->
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Minimum Order Quantity</mat-label>
                                <input matInput formControlName="minimumOrderQuantity"
                                    placeholder="Enter Minimum Order Quantity">
                            </mat-form-field>
                            <!-- Minimum Order Quantity form field end here -->
                        </div>
                    </div>
                </div>
                <!-- Product Information panel end here -->

                <!-- Product Description panel start here -->
                <div class="border shadow-sm">
                    <div class="bg-[#4f966e] px-4 py-2 border-b">
                        <h2 class="!mb-0 text-white !text-lg">Product Description</h2>
                    </div>
                    <div class="bg-white px-4 pt-4 pb-2">
                        <div class="grid grid-cols-1">
                            <!-- Product Description form field start here -->
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Product Description</mat-label>
                                <textarea matInput formControlName="description"
                                    placeholder="Enter Product Description"></textarea>
                            </mat-form-field>
                            <!-- Product Description form field end here -->
                        </div>
                    </div>
                </div>
                <!-- Product Description panel end here -->

                <!-- Product Images panel start here -->
                <!-- <div class="border shadow-sm">
                    <div class="bg-[#4f966e] px-4 py-2 border-b">
                        <h2 class="!mb-0 text-white !text-lg">Product Images</h2>
                    </div>
                    <div class="bg-white px-4 pt-4 pb-2">
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Product Title</mat-label>
                                <input matInput placeholder="Enter Product Title">
                            </mat-form-field>
                        </div>
                    </div>
                </div> -->
                <!-- Product Images panel end here -->

                <!-- Product Price panel start here -->
                <div class="border shadow-sm">
                    <div class="bg-[#4f966e] px-4 py-2 border-b">
                        <h2 class="!mb-0 text-white !text-lg">Product Price</h2>
                    </div>
                    <div class="bg-white px-4 pt-4 pb-2">
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
                            <!-- product price form field start here -->
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Product Price</mat-label>
                                <input matInput formControlName="price" placeholder="Enter Product Price">
                            </mat-form-field>
                            <!-- product price form field end here -->

                            <!-- product price form field start here -->
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Product Discount(In %)</mat-label>
                                <input matInput formControlName="discountPercentage"
                                    placeholder="Enter Product Discount(In %)">
                            </mat-form-field>
                            <!-- product price form field end here -->
                        </div>
                    </div>
                </div>
                <!-- Product Price panel end here -->

                <div class="text-end">
                    <ng-container *ngIf="!isProductEdit; else updateProduct">
                        <button mat-button class="!bg-[#4f966e] !text-white !text-md !px-4" (click)="addProduct()"
                            [disabled]="addProductForm.invalid" matTooltip="Add Product">
                            <mat-icon>save</mat-icon>
                            Add Product
                        </button>
                    </ng-container>

                    <ng-template #updateProduct>
                        <button mat-button class="!bg-[#4f966e] !text-white !text-md !px-4" (click)="updateProductById()"
                            [disabled]="addProductForm.invalid" matTooltip="Update Product">
                            <mat-icon>save</mat-icon>
                            Update Product
                        </button>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
    <!-- Add product form end here -->
</div>