<!-- shop register form start here -->
<mat-card class="w-11/12 sm:w-2/4 md:w-2/5 lg:w-3/5 my-5 p-4 mx-auto !rounded-lg">
    <img src="../../../../assets/fastkart_dark_logo.png" class="w-40 mx-auto mb-4" alt="dark logo">
    <h1 class="text-center">Store Details</h1>
    <form [formGroup]="createStoreForm">
        <div class="grid sm:grid-cols-2 grid-cols-1 gap-x-6">
            <mat-form-field appearance="outline">
                <mat-label>Store Name</mat-label>
                <input matInput formControlName="storeName" placeholder="Store Name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Business Type</mat-label>
                <mat-select formControlName="businessType" placeholder="Business Type">
                    <ng-container *ngFor="let business of businesses">
                        <mat-option [value]="business.name">{{business.name}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Currency</mat-label>
                <mat-select formControlName="currency" placeholder="Currency">
                    <ng-container *ngFor="let currency of currencyList">
                        <mat-option [value]="currency.code">{{currency.code}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput formControlName="address" placeholder="Address">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <input matInput formControlName="mobileNumber" minlength="10" maxlength="10"
                    placeholder="Mobile Number">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" minlength="4" maxlength="4" placeholder="Password" />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Select Country</mat-label>
                <mat-select formControlName="country" placeholder="Country">
                    <ng-container *ngFor="let country of countries">
                        <mat-option [value]="country.name">{{country.name}}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Select State</mat-label>
                <input matInput formControlName="state" placeholder="State">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Pin Code</mat-label>
                <input matInput formControlName="pinCode" minlength="6" maxlength="6" placeholder="Pin Code">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input matInput formControlName="city" placeholder="City">
            </mat-form-field>
        </div>
        <div class="flex items-center justify-end gap-x-2">
            <button mat-button class="!text-md !px-4 !text-gray-600 !hover:text-gray-900 !bg-gray-200">Cancel</button>
            <button mat-button class="!bg-[#4f966e] !text-white !text-md !px-4"
                [disabled]="this.createStoreForm.invalid" (click)="createStore()" matTooltip="Add Category">
                Save
            </button>
        </div>
    </form>
</mat-card>
<!-- shop register form end here -->