<div class="px-4 py-3 flex items-center justify-between bg-[#4f966e]">
    <ng-container *ngIf="!isCategoryEdit; else categoryUpdate">
        <h1 class="!text-xl !mb-0 !m-0 text-white font-semibold">Add New Category</h1>
    </ng-container>
    <ng-template #categoryUpdate>
        <h1 class="!text-xl !mb-0 !m-0 text-white font-semibold">Update Category</h1>
    </ng-template>


    <button mat-icon-button (click)="dialogClose()" aria-label="Close dialog"
        class="!text-white !w-auto !h-auto !px-2 !py-2">
        <mat-icon>close</mat-icon>
    </button>
</div>

<form class="p-4" [formGroup]="addCategoryForm">
    <div mat-dialog-content>
        <div class="flex flex-auto items-center mt-2 mb-5">
            <!-- <div class="flex flex-row flex-wrap gap-2"> -->
            <div class="relative w-24 h-24 overflow-hidden">
                <!-- Upload / Remove avatar -->
                <div class="absolute inset-0 file-upload-button z-10"></div>
                <div class="absolute inset-0 flex items-center justify-center z-20 image-box-card">
                    <ng-container *ngIf="image; else elseNotImage">
                        <div class="hide">
                            <img class="image-content" [src]="image" alt="collection">
                            <mat-icon class="text-red-600 top-1 right-1 absolute cursor-pointer delete-mat-icon"
                                (click)="removeCollectionImage()">
                                delete_outline
                            </mat-icon>
                        </div>
                    </ng-container>
                    <ng-template #elseNotImage>
                        <mat-icon (click)="compressImage()" class="text-secondary cursor-pointer">camera_alt</mat-icon>
                    </ng-template>
                </div>
            </div>
        </div>

        <!-- category title form field start here -->
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="Enter Category Title">
        </mat-form-field>
        <!-- category title form field end here -->

        <!-- category description form field start here -->
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" placeholder="Enter Category Description">
        </mat-form-field>
        <!-- category description form field end here -->
    </div>

</form>
<div mat-dialog-actions class="flex justify-end p-4 border-t border-gray-200">
    <button mat-button (click)="dialogClose()" class="mr-2 text-gray-600 hover:text-gray-900">Cancel</button>
    <ng-container *ngIf="!isCategoryEdit; else updateCategory">
        <button mat-button (click)="onSave()" type="button"
            class="!bg-[#4f966e] !text-white !text-md !px-4" [disabled]="addCategoryForm.invalid">Add Category</button>
    </ng-container>
    <ng-template #updateCategory>
        <button mat-button (click)="updateCategoryById()" type="button"
            class="!bg-[#4f966e] !text-white !text-md !px-4" [disabled]="addCategoryForm.invalid">Update Category</button>
    </ng-template>
</div>