<div class="bg-[#f8f8f8] px-4 h-full overflow-y-auto">
    <app-page-header [title]="pageTitle" [isAction]="isHeaderAction" />

    <!-- page sub header start here -->
    <div class="flex items-center justify-between">
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search Product">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <div class="flex items-center gap-x-2">
            <button matTooltip="Grid View" (click)="dataViewToggle(0)">
                <mat-icon class="p-3 !flex items-center justify-center"
                    [ngClass]="{'rounded-[4px] border border-solid border-[#0da487]': !isListview}">grid_on</mat-icon>
            </button>
            <button matTooltip="List View" (click)="dataViewToggle(1)">
                <mat-icon class="p-3 !flex items-center justify-center"
                    [ngClass]="{'rounded-[4px] border border-solid border-[#0da487]': isListview}">list</mat-icon>
            </button>
            <button mat-button class="!bg-[#0da487] !text-white !text-md !px-4" matTooltip="Add Product"
                routerLink="/add-product"><mat-icon>add</mat-icon>
                Add Product
            </button>
        </div>
    </div>
    <!-- page sub header end here -->

    <!-- products list start here -->
    <ng-container *ngIf="isListview;else gridview">
        <div>
            <table class="w-full mb-8">
                <thead>
                    <tr>
                        <th class="bg-[#0da487] p-2 text-left text-white text-md text-normal">Image</th>
                        <th class="bg-[#0da487] p-2 text-left text-white text-md text-normal">Product Name</th>
                        <th class="bg-[#0da487] p-2 text-left text-white text-md text-normal">Description</th>
                        <th class="bg-[#0da487] p-2 text-left text-white text-md text-normal">Category</th>
                        <th class="bg-[#0da487] p-2 text-left text-white text-md text-normal">Price</th>
                        <th class="bg-[#0da487] p-2 text-left text-white text-md text-normal w-28">Status</th>
                        <th class="bg-[#0da487] p-2 text-left text-white text-md text-normal">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let product of productList">
                        <tr>
                            <td class="p-2 text-left text-[#4a5568] text-md">
                                <img [src]="product.thumbnail" class="w-16" [alt]="product.title" />
                            </td>
                            <td class="p-2 text-left text-[#4a5568] text-md">{{product.title}}</td>
                            <td class="p-2 text-left text-[#4a5568] text-md">{{product.description}}</td>
                            <td class="p-2 text-left text-[#4a5568] text-md">{{product.category}}</td>
                            <td class="p-2 text-left text-[#4a5568] text-md">{{product.price}}</td>
                            <td class="p-2 text-left text-[#4a5568] text-md w-28">
                                <ng-container *ngIf="product.availabilityStatus === 'In Stock'; else lowStock">
                                    <span
                                        class="bg-[#2f873326] py-1 px-3 text-sm text-normal rounded-md text-[#2f8733]">{{product.availabilityStatus}}</span>
                                </ng-container>
                                <ng-template #lowStock>
                                    <span
                                        class="bg-[#e2245426] py-1 px-3 text-sm text-normal rounded-md text-[#e22454]">{{product.availabilityStatus}}</span>
                                </ng-template>
                            </td>
                            <td class="p-2 text-left text-[#4a5568] text-md">
                                <div class="flex items-center gap-x-2">
                                    <button>
                                        <mat-icon class="text-[18px] text-[#747dc6]">remove_red_eye</mat-icon>
                                    </button>
                                    <button>
                                        <mat-icon class="text-[18px] text-[#4aa4d9]">edit</mat-icon>
                                    </button>
                                    <button>
                                        <mat-icon class="text-[18px] text-[#ef3f3e]">delete_outline</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </ng-container>
    <ng-template #gridview>
        <p>grid view</p>
    </ng-template>
    <!-- products list end here -->
</div>