<div class="bg-[#f8f8f8] px-4">
    <app-page-header [title]="pageTitle" [isAction]="isHeaderAction" />

    <!-- page sub header start here -->
    <div class="flex items-center justify-between">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Search Product">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="flex items-center gap-x-2">
            <button matTooltip="Grid View" (click)="dataViewToggle(0)">
                <mat-icon class="p-3 !flex items-center justify-center"
                    [ngClass]="{'rounded-[4px] border border-solid border-[#0da487]': !isListview}">grid_on</mat-icon>
            </button>
            <button matTooltip="List View" (click)="dataViewToggle(1)">
                <mat-icon class="p-3 !flex items-center justify-center"
                    [ngClass]="{'rounded-[4px] border border-solid border-[#0da487]': isListview}">list</mat-icon>
            </button>
            <button mat-button class="!bg-[#4f966e] !text-white !text-md !px-4" matTooltip="Add Product"
                routerLink="/add-product"><mat-icon>add</mat-icon>
                <span class="hidden sm:block">Add Product</span>
            </button>
        </div>
    </div>
    <!-- page sub header end here -->

    <!-- products list start here -->
    <ng-container *ngIf="isListview;else gridview">
        <div class="h-[360px] overflow-y-auto">
            <ng-container *ngIf="productList.length > 0; else noProducts">
                <table class="w-full shadow border overflow-x-auto relative">
                    <thead>
                        <tr class="sticky top-0 z-10">
                            <th class="bg-[#4f966e] p-2 text-left text-white text-md text-normal">Image</th>
                            <th class="bg-[#4f966e] p-2 text-left text-white text-md text-normal whitespace-nowrap">
                                Product Name</th>
                            <th class="bg-[#4f966e] p-2 text-left text-white text-md text-normal">Description</th>
                            <th class="bg-[#4f966e] p-2 text-left text-white text-md text-normal">Category</th>
                            <th class="bg-[#4f966e] p-2 text-left text-white text-md text-normal">Price</th>
                            <th class="bg-[#4f966e] p-2 text-left text-white text-md text-normal w-28">Status</th>
                            <th class="bg-[#4f966e] p-2 text-left text-white text-md text-normal">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let product of productList">
                            <tr>
                                <td class="p-2 text-left text-[#4a5568] text-md border-b">
                                    <ng-container *ngIf="product.thumbnail; else noImage">
                                        <img [src]="product.thumbnail" class="w-16" [alt]="product.title" />
                                    </ng-container>
                                    <ng-template #noImage>
                                        <img src="../../../../../assets/no-product.png" class="w-16" alt="no image" />
                                    </ng-template>
                                </td>
                                <td class="p-2 text-left text-[#4a5568] text-md border-b">{{product.title}}</td>
                                <td class="p-2 text-left text-[#4a5568] text-md border-b">{{product.description}}</td>
                                <td class="p-2 text-left text-[#4a5568] text-md border-b">{{product.category}}</td>
                                <td class="p-2 text-left text-[#4a5568] text-md border-b">{{product.price}}</td>
                                <td class="p-2 text-left text-[#4a5568] text-md w-28 border-b whitespace-nowrap">
                                    <span
                                        [ngClass]="product.availabilityStatus === 'Low Stock' ? 'bg-[#e2245426] text-[#e22454]' : 'bg-[#2f873326] text-[#2f8733]'"
                                        class="py-1 px-3 text-xs text-normal rounded-full">
                                        {{product.availabilityStatus}}
                                    </span>
                                </td>
                                <td class="p-2 text-left text-[#4a5568] text-md border-b">
                                    <button mat-icon-button [matMenuTriggerFor]="menu"
                                        aria-label="Example icon-button with a menu">
                                        <mat-icon class="!text-[#4a5568]">more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button class="!text-[18px]" mat-menu-item>
                                            <mat-icon>remove_red_eye</mat-icon>
                                            <span>Order Details</span>
                                        </button>
                                        <button class="!text-[18px]" [routerLink]="'/update-product/' + product._id"
                                            mat-menu-item>
                                            <mat-icon>edit</mat-icon>
                                            <span>Edit Product</span>
                                        </button>
                                        <button class="!text-[18px]" mat-menu-item (click)="deleteProduct(product._id)">
                                            <mat-icon>delete_outline</mat-icon>
                                            <span>Delete Product</span>
                                        </button>
                                    </mat-menu>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </ng-container>
            <ng-template #noProducts>
                <div class="flex flex-col items-center justify-center w-full">
                    <h2>No have Products!</h2>
                    <button mat-button class="!bg-[#4f966e] !text-white !text-md !px-4" matTooltip="Add Product"
                        routerLink="/add-product"><mat-icon>add</mat-icon>
                        Add Product
                    </button>
                </div>
            </ng-template>
        </div>
    </ng-container>
    <ng-template #gridview>
        <ng-container *ngIf="productList.length > 0; else noProducts">
            <div class="h-[360px] overflow-y-auto">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-3">
                    <ng-container *ngFor="let product of productList">
                        <mat-card class="w-full border shadow-md rounded-lg overflow-hidden">
                            <ng-container *ngIf="product.thumbnail; else noImage">
                                <img mat-card-image [src]="product.thumbnail" class="w-52 mx-auto object-cover"
                                    [alt]="product.title" />
                            </ng-container>
                            <ng-template #noImage>
                                <img mat-card-image src="../../../../../assets/no-product.png"
                                    class="w-52 mx-auto object-cover" alt="no image" />
                            </ng-template>
                            <mat-card-content class="p-4">
                                <h2 class="text-xl font-bold text-gray-800">{{ product.title }}</h2>
                                <p class="text-gray-600 mt-2">{{ product.description }}</p>
                                <p class="text-gray-800 mt-2 font-medium">Category: {{ product.category }}</p>
                                <p class="text-gray-800 mt-2 font-medium">Price: {{ product.price }}</p>
                                <span
                                    [ngClass]="product.availabilityStatus ==='Low Stock' ? 'bg-[#e2245426] text-[#e22454]' : 'bg-[#2f873326] text-[#2f8733]'"
                                    class="py-1 px-3 text-xs text-normal rounded-full">
                                    {{product.availabilityStatus}}
                                </span>
                            </mat-card-content>
                            <mat-card-actions class="p-4 flex justify-between">
                                <button [routerLink]="'/update-product/' + product._id" mat-button>
                                    <mat-icon class="text-blue-500">edit</mat-icon>
                                    Edit
                                </button>
                                <button mat-button (click)="deleteProduct(product._id)">
                                    <mat-icon class="text-red-500">delete_outline</mat-icon>
                                    Delete
                                </button>
                            </mat-card-actions>
                        </mat-card>
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <ng-template #noProducts>
            <div class="flex flex-col items-center justify-center w-full">
                <h2>No have Products!</h2>
                <button mat-button class="!bg-[#0da487] !text-white !text-md !px-4" matTooltip="Add Product"
                    routerLink="/add-product"><mat-icon>add</mat-icon>
                    Add Product
                </button>
            </div>
        </ng-template>
    </ng-template>
    <!-- products list end here -->
</div>