<div class="bg-[#f8f8f8] px-4 h-full overflow-y-auto">
    <app-page-header [title]="pageTitle" />

    <!-- page sub header start here -->
    <div class="flex items-center justify-between">
        <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Search Product">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <div class="flex items-center gap-x-2">
            <button matTooltip="Grid View" (click)="dataViewToggle(0)">
                <mat-icon class="p-3 !flex items-center justify-center"
                    [ngClass]="{'rounded-[4px] border border-solid border-[#0da487]': !isListview}">grid_on</mat-icon>
            </button>
            <button matTooltip="List View" (click)="dataViewToggle(1)">
                <mat-icon class="p-3 !flex items-center justify-center"
                    [ngClass]="{'rounded-[4px] border border-solid border-[#0da487]': isListview}">list</mat-icon>
            </button>
            <button mat-button class="!bg-[#0da487] !text-white !text-md !px-4" matTooltip="Add Product"
                routerLink="/add-product"><mat-icon>add</mat-icon>
                Add Product
            </button>
        </div>
    </div>
    <!-- page sub header end here -->

    <!-- products list start here -->
    <ng-container *ngIf="isListview;else gridview">
        <div>
            <table class="w-full">
                <thead>
                    <tr>
                        <th class="bg-[#0da487] p-2 text-left text-white text-md text-normal">Image</th>
                        <th class="bg-[#0da487] p-2 text-left text-white text-md text-normal">Product Name</th>
                        <th class="bg-[#0da487] p-2 text-left text-white text-md text-normal">Category</th>
                        <th class="bg-[#0da487] p-2 text-left text-white text-md text-normal">Current Qty</th>
                        <th class="bg-[#0da487] p-2 text-left text-white text-md text-normal">Price</th>
                        <th class="bg-[#0da487] p-2 text-left text-white text-md text-normal">Status</th>
                        <th class="bg-[#0da487] p-2 text-left text-white text-md text-normal">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="p-2 text-left text-[#4a5568] text-md">
                            <img src="../../../assets/1.png" class="w-16" alt="product image" />
                        </td>
                        <td class="p-2 text-left text-[#4a5568] text-md">Tuwer Dal</td>
                        <td class="p-2 text-left text-[#4a5568] text-md">Dals</td>
                        <td class="p-2 text-left text-[#4a5568] text-md">23</td>
                        <td class="p-2 text-left text-[#4a5568] text-md">$95.97</td>
                        <td class="p-2 text-left text-[#4a5568] text-md">
                            <span
                                class="bg-[#e2245426] py-1 px-3 text-sm text-normal rounded-md text-[#e22454]">Pending</span>
                        </td>
                        <td class="p-2 text-left text-[#4a5568] text-md">
                            <div class="flex items-center gap-x-2">
                                <button>
                                    <mat-icon class="text-[18px] text-[#747dc6]">remove_red_eye</mat-icon>
                                </button>
                                <button>
                                    <mat-icon class="text-[18px] text-[#4aa4d9]">edit</mat-icon>
                                </button>
                                <button>
                                    <mat-icon class="text-[18px] text-[#ef3f3e]">delete_outline</mat-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-2 text-left text-[#4a5568] text-md">
                            <img src="../../../assets/1.png" class="w-16" alt="product image" />
                        </td>
                        <td class="p-2 text-left text-[#4a5568] text-md">Tuwer Dal</td>
                        <td class="p-2 text-left text-[#4a5568] text-md">Dals</td>
                        <td class="p-2 text-left text-[#4a5568] text-md">23</td>
                        <td class="p-2 text-left text-[#4a5568] text-md">$95.97</td>
                        <td class="p-2 text-left text-[#4a5568] text-md">
                            <span
                                class="bg-[#2f873326] py-1 px-3 text-sm text-normal rounded-md text-[#2f8733]">Approved</span>
                        </td>
                        <td class="p-2 text-left text-[#4a5568] text-md">
                            <div class="flex items-center gap-x-2">
                                <button>
                                    <mat-icon class="text-[18px] text-[#747dc6]">remove_red_eye</mat-icon>
                                </button>
                                <button>
                                    <mat-icon class="text-[18px] text-[#4aa4d9]">edit</mat-icon>
                                </button>
                                <button>
                                    <mat-icon class="text-[18px] text-[#ef3f3e]">delete_outline</mat-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </ng-container>
    <ng-template #gridview>
        <p>grid view</p>
    </ng-template>
    <!-- products list end here -->
</div>