<div class="bg-[#f8f8f8] px-4">
    <app-page-header [title]="pageTitle" [isAction]="isHeaderAction" />
    <!-- page sub header start here -->
    <div class="flex items-center justify-between">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput placeholder="Search Product">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
        <div class="flex items-center gap-x-2">
            <button matTooltip="Grid View" (click)="dataViewToggle(0)">
                <mat-icon class="p-3 !flex items-center justify-center"
                    [ngClass]="{'rounded-[4px] border border-solid border-[#0da487]': !isListview}">grid_on</mat-icon>
            </button>
            <button matTooltip="List View" (click)="dataViewToggle(1)">
                <mat-icon class="p-3 !flex items-center justify-center"
                    [ngClass]="{'rounded-[4px] border border-solid border-[#0da487]': isListview}">list</mat-icon>
            </button>
            <button mat-button class="!bg-[#4f966e] !text-white !text-md !px-4" (click)="addNewCategory()"
                matTooltip="Add Category"><mat-icon>add</mat-icon>
                <span class="hidden sm:block">Add Category</span>
            </button>
        </div>
    </div>
    <!-- page sub header end here -->

    <!-- category list start here -->
    <ng-container *ngIf="isListview; else gridview">
        <div class="h-[360px] overflow-y-auto">
            <ng-container *ngIf="categoryList.length > 0; else noCategories">
                <table class="w-full shadow border overflow-x-auto relative">
                    <thead>
                        <tr class="sticky top-0 z-10">
                            <th class="bg-[#4f966e] p-2 text-left font-medium text-white text-md text-normal">Image</th>
                            <th
                                class="bg-[#4f966e] p-2 text-left font-medium text-white text-md text-normal whitespace-nowrap">
                                Category Name</th>
                            <th class="bg-[#4f966e] p-2 text-left font-medium text-white text-md text-normal">
                                Description</th>
                            <th class="bg-[#4f966e] p-2 text-left font-medium text-white text-md text-normal">Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let category of categoryList">
                            <tr>
                                <td class="p-2 text-left text-[#4a5568] text-md border-b">
                                    <ng-container *ngIf="category.image; else noImage">
                                        <img [src]="category.image" class="w-16" [alt]="category.title" />
                                    </ng-container>
                                    <ng-template #noImage>
                                        <img src="../../../../../assets/no-image-available.png" class="w-16"
                                            alt="no image" />
                                    </ng-template>
                                </td>
                                <td class="p-2 text-left text-[#4a5568] text-md border-b">{{category.title}}</td>
                                <td class="p-2 text-left text-[#4a5568] text-md border-b">{{category.description}}</td>
                                <td class="p-2 text-left text-[#4a5568] text-md border-b">
                                    <button mat-icon-button [matMenuTriggerFor]="menu"
                                        aria-label="Example icon-button with a menu">
                                        <mat-icon class="!text-[#4a5568]">more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button (click)="updateCategory(category._id)" class="!text-[18px]"
                                            mat-menu-item>
                                            <mat-icon>edit</mat-icon>
                                            <span>Edit Category</span>
                                        </button>
                                        <button (click)="deleteCategory(category._id)" class="!text-[18px]"
                                            mat-menu-item>
                                            <mat-icon>delete_outline</mat-icon>
                                            <span>Delete Category</span>
                                        </button>
                                    </mat-menu>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </ng-container>
            <ng-template #noCategories>
                <div class="flex flex-col items-center justify-center w-full">
                    <h2>No have Categories!</h2>
                    <button mat-button class="!bg-[#4f966e] !text-white !text-md !px-4" (click)="addNewCategory()"
                        matTooltip="Add Category"><mat-icon>add</mat-icon>
                        Add Category
                    </button>
                </div>
            </ng-template>
        </div>
    </ng-container>
    <ng-template #gridview>
        <ng-container *ngIf="categoryList.length > 0; else noProducts">
            <div class="h-[360px] overflow-y-auto">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-3">
                    <ng-container *ngFor="let category of categoryList">
                        <mat-card class="w-full border shadow-md rounded-lg material-card">
                            <ng-container *ngIf="category.image; else noImage">
                                <img mat-card-image [src]="category.image" class="w-52 mx-auto object-cover"
                                    [alt]="category.title" />
                            </ng-container>
                            <ng-template #noImage>
                                <img mat-card-image src="../../../../../assets/no-product.png"
                                    class="w-52 mx-auto object-cover" alt="no image" />
                            </ng-template>
                            <mat-card-content class="p-4">
                                <h2 class="text-xl font-bold text-gray-800">{{ category.title }}</h2>
                                <p class="text-gray-600 mt-2">{{ category.description }}</p>
                            </mat-card-content>
                            <mat-card-actions class="p-4 material-card-action">
                                <button (click)="updateCategory(category._id)" mat-icon-button>
                                    <mat-icon class="text-blue-500">edit</mat-icon>
                                </button>
                                <button (click)="deleteCategory(category._id)" mat-icon-button>
                                    <mat-icon class="text-red-500">delete_outline</mat-icon>
                                </button>
                            </mat-card-actions>
                        </mat-card>
                    </ng-container>
                </div>
            </div>
        </ng-container>
        <ng-template #noProducts>
            <div class="flex flex-col items-center justify-center w-full">
                <h2>No have Categories!</h2>
                <button mat-button class="!bg-[#4f966e] !text-white !text-md !px-4" (click)="addNewCategory()"
                    matTooltip="Add Category"><mat-icon>add</mat-icon>
                    Add Category
                </button>
            </div>
        </ng-template>
    </ng-template>
    <!-- category list end here -->
</div>