<!-- shop login form start here -->
<mat-card class="w-11/12 sm:w-2/4 md:w-2/5 lg:w-1/3 my-5 p-4 mx-auto !rounded-lg">
    <img src="../../../../assets/fastkart_dark_logo.png" class="w-40 mx-auto mb-4" alt="dark logo">
    <h1 class="text-center">Signin Faskart Admin</h1>
    <form [formGroup]="signinForm">
        <div class="grid grid-cols-1">
            <mat-form-field appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <input matInput formControlName="mobileNumber" minlength="10" maxlength="10"
                    placeholder="Mobile Number">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" minlength="4" maxlength="4"
                    placeholder="Password" />
            </mat-form-field>
        </div>
        <div class="flex items-center justify-end gap-x-2">
            <button mat-button class="!text-md !px-4 !text-gray-600 !hover:text-gray-900 !bg-gray-200">Cancel</button>
            <button mat-button class="!bg-[#4f966e] !text-white !text-md !px-4" [disabled]="this.signinForm.invalid" (click)="signin()" matTooltip="Signin">
                Signin
            </button>
        </div>
    </form>
</mat-card>
<!-- shop login form end here -->